@{
    ViewBag.Title = "Home Page";
}
<section>
    <div class="grid-container-1">
        <div class="grid-p">
            <h1>
                VĂN LANG SAVE <br>
                WEBSITE TRAO ĐỔI HÀNG HOÁ VĂN LANG
            </h1>
            <p class="content">Nơi cộng đồng Văn Lang tặng, trao đổi hàng hoá. Hãy đăng những món đồ không dùng đến của bạn đổi lấy những món hàng chất lượng từ mọi người.</p>
            <button class="btnPost">Đăng bài ngay</button>
        </div>
        <div class="grid-i">
            <img class="exchangepic" src="~/Content/Home/img/head_1.png">
        </div>
    </div>
</section>

<section>
    <div class="title">
        <h1>BÀI ĐĂNG <span>NỔI BẬT</span></h1>
    </div>
    <div class="cards">
        <div class="card">
            <div class="card__image-holder">
                <img class="card__image" src="https://source.unsplash.com/300x225/?wave" alt="wave" />
            </div>
            <div class="card-title">
                <a href="#" class="toggle-info btn">
                    <span class="left"></span>
                    <span class="right"></span>
                </a>
                <h2>
                    Tên sản phẩm
                    <small>Loại sản phẩm</small>
                </h2>
            </div>
            <div class="card-flap flap1">
                <div class="card-description">
                    Mô tả sản phẩm .........
                </div>
                <div class="card-flap flap2">
                    <div class="card-actions">
                        <a href="#" class="btn"><i class="fa fa-eye"></i></a>
                        <a href="#" class="btn">Đăng kí</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card__image-holder">
                <img class="card__image" src="https://source.unsplash.com/300x225/?wave" alt="wave" />
            </div>
            <div class="card-title">
                <a href="#" class="toggle-info btn">
                    <span class="left"></span>
                    <span class="right"></span>
                </a>
                <h2>
                    Tên sản phẩm
                    <small>Loại sản phẩm</small>
                </h2>
            </div>
            <div class="card-flap flap1">
                <div class="card-description">
                    Mô tả sản phẩm .........
                </div>
                <div class="card-flap flap2">
                    <div class="card-actions">
                        <a href="#" class="btn"><i class="fa fa-eye"></i></a>
                        <a href="#" class="btn">Đăng kí</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card__image-holder">
                <img class="card__image" src="https://source.unsplash.com/300x225/?wave" alt="wave" />
            </div>
            <div class="card-title">
                <a href="#" class="toggle-info btn">
                    <span class="left"></span>
                    <span class="right"></span>
                </a>
                <h2>
                    Tên sản phẩm
                    <small>Loại sản phẩm</small>
                </h2>
            </div>
            <div class="card-flap flap1">
                <div class="card-description">
                    Mô tả sản phẩm .........
                </div>
                <div class="card-flap flap2">
                    <div class="card-actions">
                        <a href="#" class="btn"><i class="fa fa-eye"></i></a>
                        <a href="#" class="btn">Đăng kí</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card__image-holder">
                <img class="card__image" src="https://source.unsplash.com/300x225/?wave" alt="wave" />
            </div>
            <div class="card-title">
                <a href="#" class="toggle-info btn">
                    <span class="left"></span>
                    <span class="right"></span>
                </a>
                <h2>
                    Tên sản phẩm
                    <small>Loại sản phẩm</small>
                </h2>
            </div>
            <div class="card-flap flap1">
                <div class="card-description">
                    Mô tả sản phẩm .........
                </div>
                <div class="card-flap flap2">
                    <div class="card-actions">
                        <a href="#" class="btn"><i class="fa fa-eye"></i></a>
                        <a href="#" class="btn">Đăng kí</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card__image-holder">
                <img class="card__image" src="https://source.unsplash.com/300x225/?wave" alt="wave" />
            </div>
            <div class="card-title">
                <a href="#" class="toggle-info btn">
                    <span class="left"></span>
                    <span class="right"></span>
                </a>
                <h2>
                    Tên sản phẩm
                    <small>Loại sản phẩm</small>
                </h2>
            </div>
            <div class="card-flap flap1">
                <div class="card-description">
                    Mô tả sản phẩm .........
                </div>
                <div class="card-flap flap2">
                    <div class="card-actions">
                        <a href="#" class="btn"><i class="fa fa-eye"></i></a>
                        <a href="#" class="btn">Đăng kí</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card__image-holder">
                <img class="card__image" src="https://source.unsplash.com/300x225/?wave" alt="wave" />
            </div>
            <div class="card-title">
                <a href="#" class="toggle-info btn">
                    <span class="left"></span>
                    <span class="right"></span>
                </a>
                <h2>
                    Tên sản phẩm
                    <small>Loại sản phẩm</small>
                </h2>
            </div>
            <div class="card-flap flap1">
                <div class="card-description">
                    Mô tả sản phẩm .........
                </div>
                <div class="card-flap flap2">
                    <div class="card-actions">
                        <a href="#" class="btn"><i class="fa fa-eye"></i></a>
                        <a href="#" class="btn">Đăng kí</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card__image-holder">
                <img class="card__image" src="https://source.unsplash.com/300x225/?wave" alt="wave" />
            </div>
            <div class="card-title">
                <a href="#" class="toggle-info btn">
                    <span class="left"></span>
                    <span class="right"></span>
                </a>
                <h2>
                    Tên sản phẩm
                    <small>Loại sản phẩm</small>
                </h2>
            </div>
            <div class="card-flap flap1">
                <div class="card-description">
                    Mô tả sản phẩm .........
                </div>
                <div class="card-flap flap2">
                    <div class="card-actions">
                        <a href="#" class="btn"><i class="fa fa-eye"></i></a>
                        <a href="#" class="btn">Đăng kí</a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="card__image-holder">
                <img class="card__image" src="https://source.unsplash.com/300x225/?wave" alt="wave" />
            </div>
            <div class="card-title">
                <a href="#" class="toggle-info btn">
                    <span class="left"></span>
                    <span class="right"></span>
                </a>
                <h2>
                    Tên sản phẩm
                    <small>Loại sản phẩm</small>
                </h2>
            </div>
            <div class="card-flap flap1">
                <div class="card-description">
                    Mô tả sản phẩm .........
                </div>
                <div class="card-flap flap2">
                    <div class="card-actions">
                        <a href="#" class="btn"><i class="fa fa-eye"></i></a>
                        <a href="#" class="btn">Đăng kí</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>