<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title>Trang chủ</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Place favicon.ico in the root directory -->
        <link rel="shortcut icon" href="https://vhub.vanlanguni.edu.vn/images/logoVLU.png">
        <link href="~/Content/Home/css/style.css" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />

    </head>
    <body>
        <header>
            <div class="contanier">
                <img src="~/Content/Account/img/logo.png" alt="VLU-logo" class="logo">

                <nav>
                    <div class="search-box">
                        <input type="search" placeholder="Search..." />
                        <span class="fa fa-search"></span>
                    </div>
                    <ul>
                        <li class="head-list">
                            <a href="#"><span><i class="fas fa-bars"></i></span> DANH MỤC</a>
                            <ul class="son-list">
                                <li class="son-list">
                                    <a href="#">Thời trang</a>
                                    <ul>
                                        <li class="son-list">
                                            <a href="#">Thời trang nam</a>
                                            <ul>
                                                <li class="son-list">
                                                    <a href="#">Quần</a>
                                                    <ul>
                                                        <li class="son-list"><a href="#">Quần kaki</a></li>
                                                        <li class="son-list"><a href="#">Quần Jean</a></li>
                                                        <li class="son-list"><a href="#">Quần Jorger</a></li>
                                                    </ul>
                                                </li>
                                                <li class="son-list"><a href="#">Áo</a></li>
                                            </ul>
                                        </li>
                                        <li class="son-list"><a href="#">Thời trang nữ</a></li>
                                        <li class="son-list"><a href="#">Giày dép nam</a></li>
                                        <li class="son-list"><a href="#">Giày dép nữ</a></li>
                                    </ul>
                                </li>
                                <li class="son-list">
                                    <a href="#">Tài liệu</a>
                                    <ul>
                                        <li class="son-list"><a href="#">Môn chuyên ngành</a></li>
                                        <li class="son-list"><a href="#">Môn đại cương</a></li>
                                        <li class="son-list"><a href="#">Ngoại ngữ</a></li>
                                        <li class="son-list"><a href="#">Tiểu thuyết</a></li>
                                    </ul>
                                </li>
                                <li class="son-list">
                                    <a href="#">Đồ điện tử</a>
                                    <ul>
                                        <li class="son-list"><a href="#">Điện thoại</a></li>
                                        <li class="son-list"><a href="#">Máy tính để bàn</a></li>
                                        <li class="son-list"><a href="#">Laptop</a></li>
                                        <li class="son-list"><a href="#">Phụ kiện & Linh kiện</a></li>
                                    </ul>
                                </li>
                                <li class="son-list">
                                    <a href="#">Đồ dùng sinh hoạt</a>
                                    <ul>
                                        <li class="son-list"><a href="#">Dụng cụ nấu ăn</a></li>
                                        <li class="son-list"><a href="#">Thiết bị thông minh</a></li>
                                        <li class="son-list"><a href="#">Nội thất</a></li>
                                        <li class="son-list"><a href="#">Nhạc cụ</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="head-list"><a href="./TrangChuUser.html"><span><i class="fas fa-home"></i></span> TRANG CHỦ</a></li>

                        @Html.Partial("_LoginPartial")
                    </ul>
                </nav>
            </div>
        </header>
        
            @RenderBody()
            
            <footer class="footer">
                <div class="contanier">
                    <div class="row">
                        <div class="footer-col">
                            <ul>
                                <li><h4>Liên kết</h4></li>
                                <li class="footer-link"><a href="#">Trang chủ</a></li>
                                <li class="footer-link"><a href="#">Tài khoản</a></li>
                                <li class="footer-link"><a href="#">Bài đăng</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <ul>
                                <li><h4>Danh mục</h4></li>
                                <li class="footer-link"><a href="#">Thời trang</a></li>
                                <li class="footer-link"><a href="#">Tài liệu</a></li>
                                <li class="footer-link"><a href="#">Đồ điện tử</a></li>
                                <li class="footer-link"><a href="#">Đồ dùng sinh hoạt</a></li>
                            </ul>
                        </div>
                        <div class="footer-col">
                            <h4>Trường Đại Học Văn Lang</h4>
                            <p class="p-rol">Cơ sở chính: 69/68 Đặng Thùy Trâm, P. 13, Q. Bình Thạnh, TP. HCM</p>
                            <p class="p-rol">Cơ sở 1: 45 Nguyễn Khắc Nhu, P. Cô Giang, Q.1, TP. HCM</p>
                            <p class="p-rol">Cơ sở 2: 233A Phan Văn Trị, P.11, Q. Bình Thạnh, TP. HCM</p>
                        </div>
                        <div class="footer-col">
                            <h4>Theo dõi chúng tôi</h4>
                            <div class="social-links">
                                <a class="fb-icon" href="https://www.facebook.com/truongdaihocvanlang"><i class="fab fa-facebook-f"></i></a>
                                <a class="ins-icon" href="https://www.youtube.com/user/truongdhvanlang"><i class="fab fa-instagram"></i></a>
                                <a class="ytb-icon" href="https://www.instagram.com/vanlanguniversity/"><i class="fab fa-youtube"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        
        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
        <script src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js'></script>
        <script src="~/Content/Home/js/script.js"></script>

    </body>
    </html>
  

