@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <li class="head-list">
            <a href="#"><span><i class="fas fa-user-circle"></i></span> TÀI KHOẢN</a>
            <ul>
                <li class="son-list"><a href="#"><span><i class="far fa-address-card"></i></span> Thông tin tài khoản</a></li>
                <li class="son-list"><a href="#"><span><i class="far fa-clone"></i></span> Quản lý bài đăng</a></li>
                <li class="son-list"><a href="#"><span><i class="fas fa-history"></i></span> Lịch sử giao dịch</a></li>
                <li class="son-list custom-border"><a href="javascript:document.getElementById('logoutForm').submit()">Đăng xuất</a></li>

            </ul>
        </li>
    }
}
else
{
<li class="head-list">@Html.ActionLink("ĐĂNG NHẬP", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
}
